{% trans_default_domain 'advert' %}

<div class="uk-modal-dialog">
    <div class="uk-modal-header">
        <h3>{{ "advert.category.create.title"|trans }}</h3>
    </div>
    <div class="uk-modal-body">
        {% include 'AdvertBundle:Admin:form_category.html.twig' with {'form': form} %}
    </div>
</div>